// Custom scrollbar styles (cannot be easily done with Tailwind)
.media-container {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
}

.thumbnail-list {
  .ReactVirtualized__List,
  .thumbnail-list-virtualized {
    &::-webkit-scrollbar {
      width: 3px !important;
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.05);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 3px;

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }

    // // Firefox
    // scrollbar-width: thin !important;
    // scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.05);
  }
}

// // Direct selectors to ensure they apply
// .thumbnail-list .ReactVirtualized__List::-webkit-scrollbar,
// .thumbnail-list-virtualized::-webkit-scrollbar,
// .ReactVirtualized__List::-webkit-scrollbar {
//   width: 2px !important;
//   min-width: 2px !important;
// }

// // Dynamic class used in JavaScript
// .thumbnail-image-container.icon-fallback {
//   .thumbnail-image {
//     display: none;
//   }
// }