.floating-assistant-modal {
  z-index: 100001;
}

.floating-assistant {

  &.portal {
    z-index: 49;
    position: fixed;
    cursor: pointer;
    border-radius: 24px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    height: 48px;
    width: 48px;
    background: var(--theme-block-background);

    transition: width 0.5s;

    &.AllDone {
      .tick {
        display: block;
      }
    }

    &.Working {
      .circular-progress-wrapper {
        display: flex;
      }
    }

    &.Failed {
      .failed {
        display: flex;
      }
    }

    .circular-progress-wrapper {
      display: none;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;

      .task-count {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-weight: 600;
        color: var(--heroui-primary);
      }
    }

    .failed {
      display: none;
      color: hsl(var(--heroui-danger));
    }

    .tick {
      display: none;
      svg {
        &.drawn {
          .path {
            opacity: 1;
            stroke-dashoffset: 0;
          }
        }
        .circ {
          opacity: 0;
          stroke-dasharray: 130;
          stroke-dashoffset: 130;
          transition: all 1s;
        }
        .tick {
          stroke-dasharray: 50;
          stroke-dashoffset: 50;
          transition: stroke-dashoffset 1s 0.5s ease-out;
        }
      }
    }

  }
}

// Task table progress bar animation
.task-progress-animated {
  .progress-bar-indicator {
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 1rem 1rem;
    animation: progress-bar-stripes 1s linear infinite;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

// Error row highlight
.task-row-error {
  background-color: hsl(var(--heroui-danger) / 0.1) !important;
}
